/** css custom styles for map project **/

#map {
	height:400px;
}

input {
	margin-bottom: 1em;
}

ul {
	padding-left: 0;
}

a.list-group-item {
	color: #DB4300;
}
.markerInfoPanel p {
	margin-top: 1em;
}

.infoReference {
	font-size: 0.75em;
}

.searchFilter {
	width: 100%;
}
 #footer {
	 height: 3em;
 }