/** css custom styles for map project **/

#map {
	height:400px;
}

input {
	margin-bottom: 1em;
}

ul {
	padding-left: 0;
}

.markerInfoPanel p {
	margin-top: 1em;
}

.infoReference {
	font-size: 0.75em;
}